# Local Terraform directory
.terraform/

# Local state files
*.tfstate
*.tfstate.*

# Crash logs
crash.log

# Override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Plan files
*.tfplan
